 {:deps {com.fbeyer/init {:mvn/version "0.2.90"}}

  :aliases
  {:run {:main-opts ["-m" "testing-without-mocks.run"]}
   :test {:main-opts ["-m" "kaocha.runner"]
          :extra-deps {lambdaisland/kaocha {:mvn/version "1.70.1086"}}}}}
